﻿@page
@model IndexModel
<!-- @{
ViewData["Title"] = "Home page";
} -->

<div class="hero">
    <div class="container">
        <form class="find-location">
            <input id="Location" type="text" asp-for="Location" placeholder="Find your location..." value="">
            <input id="buttonSendLocation" type="button" value="Find">
        </form>
    </div>
</div>
@Html.AntiForgeryToken()
<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">@DateTime.Now.DayOfWeek</div>
                    <div class="date">@DateTime.Now.ToString("dd MMM")</div>
                </div> <!-- .forecast-header -->

                <div class="forecast-content">
                    <div id="userLocation" class="location"></div>
                    <div class="degree">
                        <div class="num"><span id="currentTemp"></span><sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <img src="images/icons/icon-1.svg" alt="" width="90">
                        </div>
                    </div>
                    <span>
                        <img src="images/icon-umberella.png" alt="">
                    </span><span id="umbrella"></span>
                    <span>
                        <img src="images/icon-wind.png" alt="">
                    </span><span id="wind"></span>
                    <span>
                        <img src="images/sunrise.png" alt="">
                    </span><span id="sunrise"></span>
                    <span>
                        <img src="images/sunset.png" alt="">
                    </span><span id="sunset"></span>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">@DateTime.Now.AddDays(1).ToString("dddd")</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img id="secondDayImage" src="" alt="" width="48">
                    </div>
                    <div class="degree"><span id="secondDay"></span><sup>o</sup>C</div>
                    <sup id="secondDayDescription"></sup>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">@DateTime.Now.AddDays(2).ToString("dddd")</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img id="thirdDayImage" src="" alt="" width="48">
                    </div>
                    <div class="degree"><span id="thirdDay"></span><sup>o</sup>C</div>
                    <sup id="thirdDayDescription"></sup>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">@DateTime.Now.AddDays(3).ToString("dddd")</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img id="fourthDayImage" src="" alt="" width="48">
                    </div>
                    <div class="degree"><span id="fourthDay"></span><sup>o</sup>C</div>
                    <sup id="fourthDayDescription"></sup>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">@DateTime.Now.AddDays(4).ToString("dddd")</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img id="fifthDayImage" src="" alt="" width="48">
                    </div>
                    <div class="degree"><span id="fifthDay"></span><sup>o</sup>C</div>
                    <sup id="fifthDayDescription"></sup>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script type="text/javascript" language="JavaScript">

    var input = document.getElementById("Location");
    input.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("buttonSendLocation").click();
        }
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Index?handler=Weather",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                populateDom(response);
            },
            failure: function (response) {
                alert(response);
            }
        });
        $('#buttonSendLocation').on('click',
            function () {
                var locationCity = $('#Location').val();
                $.ajax({
                    type: "POST",
                    url: "/Index?handler=SendLocation",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify({
                        City: locationCity
                    }),

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        populateDom(response);
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            });

    });


    function populateDom(response) {
        document.getElementById("userLocation").innerHTML = response.cityName;
        document.getElementById("currentTemp").innerHTML = Math.round(response.todaysTemp);
        document.getElementById("umbrella").innerHTML = response.cloudiness + '%';
        document.getElementById("wind").innerHTML = Math.round(response.windSpeed) + 'mps';
        document.getElementById("sunrise").innerHTML = response.sunRise;
        document.getElementById("sunset").innerHTML = response.sunSet;
        document.getElementById("secondDay").innerHTML = Math.round(response.secondDayTemp);
        document.getElementById("thirdDay").innerHTML = Math.round(response.thirddayTemp);
        document.getElementById("fourthDay").innerHTML = Math.round(response.fourthdayTemp);
        document.getElementById("fifthDay").innerHTML = Math.round(response.fifthdayTemp);
        document.getElementById("secondDayImage").src = GetWeatherIcon(response.secondDayWeatherCondition);
        document.getElementById("thirdDayImage").src = GetWeatherIcon(response.thirddayWeatherCondition);
        document.getElementById("fourthDayImage").src = GetWeatherIcon(response.fourthdayWeatherCondition);
        document.getElementById("fifthDayImage").src = GetWeatherIcon(response.fifthdayWeatherCondition);
        document.getElementById("secondDayDescription").innerHTML = response.secondDayWeatherConditionDescription;
        document.getElementById("thirdDayDescription").innerHTML = response.thirddayWeatherConditionDescription;
        document.getElementById("fourthDayDescription").innerHTML = response.fourthdayWeatherConditionDescription;
        document.getElementById("fifthDayDescription").innerHTML = response.fifthdayWeatherConditionDescription;
    }


    function GetWeatherIcon(weatherDescription) {
        if (weatherDescription === "clear sky") {
            return "images/clear_sky.png";
        }
        if (weatherDescription === "few clouds") {
            return "images/few_clouds.Cpng";
        }
        if (weatherDescription === "scattered clouds") {
            return "images/scattered_clouds.png";
        }
        if (weatherDescription === "broken clouds") {
            return "images/broken_clouds.png";
        }
        if (weatherDescription === "shower rain") {
            return "images/shower_rain.png";
        }
        if (weatherDescription === "rain") {
            return "images/rain.png";
        }
        if (parameters === "thunderstorm") {
            return "images/thunderstorm.png";
        }
        if (weatherDescription === "snow") {
            return "images/snow.png";
        }
        if (weatherDescription === "mist") {
            return "images/mist.png";
        }
    }



</script>
}